.navbar{
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    color: blue;
    padding: 10px;
}
.navbar li{
    list-style: none;
}

.navbar li a{
    text-decoration: none;
    color: blue;
    padding: 10px;
}

.navbar li a:hover{
    color: rgb(12, 13, 115);
}